Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-implicit-bool-conversion,
  readability-redundant-smartptr-get,
  readability-qualified-auto,
  modernize-*,
  cppcoreguidelines-avoid-c-arrays,
  cppcoreguidelines-narrowing-conversions,
  portability-*,
  hicpp-*,
  -hicpp-vararg,
  -hicpp-signed-bitwise,
  -modernize-use-trailing-return-type,
  -hicpp-uppercase-literal-suffix,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: "*"
HeaderFilterRegex: "(src|test)/"
FormatStyle: none
