Checks: >
  portability-avoid-pragma-once,
  bugprone-unchecked-optional-access,
  hicpp-no-array-decay,
  -clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-implicit-bool-conversion,
  readability-redundant-smartptr-get,
  readability-qualified-auto,
  modernize-*,
  cppcoreguidelines-avoid-c-arrays,
  cppcoreguidelines-narrowing-conversions,
  portability-*,
  hicpp-*,
  -hicpp-vararg,
  -hicpp-signed-bitwise,
  -modernize-use-trailing-return-type,
  -hicpp-uppercase-literal-suffix,
  -bugprone-easily-swappable-parameters,
  -portability-avoid-pragma-once
WarningsAsErrors: "*"
HeaderFilterRegex: "^(src|include|lib)/"
FormatStyle: none
