BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: All
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: false
